.main_navbar {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 93%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  transition: all 0.8s;
  font-size: 20px;
  text-decoration: none;
  color: #555;
  padding: 35px;
  border-radius: 10px;
}

.navbar a:hover {
  color: #007bff;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #e4e2e2;
}

.navbar a.active {
  font-weight: bold;
}

@media screen and (max-width: 865px) {
  .main_navbar {
    width: 100px;
    flex-direction: column;
    margin-bottom: 400px;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    padding: 15px 0;
    text-align: center;
  }
}
