.home_page {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  background-image: url("/bg/bg.jpeg");
  background-size: cover;
}
.main-loader-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}
