.Complete {
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  font-weight: bold;
  font-family: "Copperplate gothic";
}
.btn {
  background-color: rgb(27, 197, 146);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Copperplate gothic";
  font-weight: bold;
  color: rgb(249, 249, 249);
}
.btn_selected {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Copperplate gothic";
  font-weight: bold;
  background-color: rgb(231, 63, 17);
  color: rgb(247, 251, 250);
}
.btn_selected:hover {
  background-color: rgb(231, 63, 17);
  color: rgb(249, 249, 249);
}
.btn:hover {
  background-color: white;
  color: rgb(27, 197, 146);
}
.TxT {
  border: 3px solid rgb(27, 197, 146);
  padding: 10px;
  margin: 10px;
  font-family: "Copperplate gothic";
  font-weight: bold;
}
.SubmitBtn {
  background-color: rgb(255, 213, 0);
  margin: 10px;
  color: rgb(3, 3, 3);
  padding: 10px;
  border-radius: 5px;
  font-family: "Copperplate gothic";
  font-weight: bold;
}
.SubmitBtn:hover {
  background-color: white;
  color: rgb(3, 3, 3);
}
.Answer {
  font-size: 15px;
  background-color: azure;
  border: 3px solid black;
}
.loader {
  margin-top: 10px;
  border: 4px solid #48948b;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-bottom: 7px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
