.Complete {
  background-color: white;
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 11px;
  color: #555;
}

.btn {
  font-size: 16px;
  height: 60px;
  width: 120px;
  border: none;
  background-color: rgb(27, 197, 146);
  text-align: center;
  border-radius: 5px;
  border: 2px solid white;
  color: rgb(249, 249, 249);
}
.btn_selected {
  font-size: 16px;
  height: 60px;
  width: 120px;

  border-radius: 5px;
  text-align: center;
  background-color: rgb(231, 63, 17);
  color: rgb(247, 251, 250);
}
.btn_selected:hover {
  background-color: rgb(231, 63, 17);
  color: rgb(249, 249, 249);
}
.btn:hover {
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  color: rgb(27, 197, 146);
}
.TxT {
  width: 19%;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid rgb(27, 197, 146);
  padding: 14px;
}
.SubmitBtn {
  width: 21%;
  background-color: rgb(255, 213, 0);
  border-radius: 5px;
  color: rgb(3, 3, 3);
  padding: 14px;
}
.SubmitBtn:hover {
  background-color: white;
  color: rgb(3, 3, 3);
}
.Answer {
  width: 85%;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.941);
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  border: 3px solid rgb(130, 130, 130);
  border-radius: 5px;
}
.loader {
  margin-top: 10px;
  border: 4px solid #48948b;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-bottom: 7px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
.handleAnswer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}
.extraSymp {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  box-sizing: border-box;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media screen and (max-width: 865px) {
  .TxT {
    font-size: 12px;
    width: 35%;
  }
  .SubmitBtn {
    width: 40%;
  }
  .btn {
    margin-top: 10px;
  }
  .btn_selected {
    margin-top: 10px;
  }
}
