.footer {
  width: 90%;
  margin-top: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.151);
  color: #333;
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  border-top: 1px solid #e0e0e0;
  margin-left: auto;
  margin-right: auto;
}
.footer:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 8px 0;
}
.footer p {
  font-size: 19px;
  margin: 5px 0;
}

.footer a {
  color: #0073e6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .footer p {
    font-size: 14px;
  }
  .footer {
    padding: 10px;
    box-sizing: border-box;
  }
}
