.main-error-container {
  font-family: "Halvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(99, 91, 91, 0.703);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 900px;
}

.error-content {
  flex: 1;
  padding: 40px;
  text-align: center;
}

.error-code {
  font-size: 120px;
  color: #e74c3c;
  margin: 0;
}

.error-message {
  font-size: 28px;
  color: #333;
  margin: 10px 0;
}

.error-description {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.error-link {
  display: inline-block;
  padding: 12px 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.error-link:hover {
  background-color: #2980b9;
}

.error-astronaut {
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-astronaut img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 601px) {
  .error-container {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .error-content {
    padding: 25px;
  }

  .error-code {
    font-size: 80px;
  }

  .error-message {
    font-size: 18px;
    margin: 5px 0;
  }

  .error-description {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .error-link {
    padding: 6px 15px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .error-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .error-content {
    padding: 35px;
  }

  .error-code {
    font-size: 100px;
  }

  .error-message {
    font-size: 25px;
    margin: 8px 0;
  }

  .error-description {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .error-link {
    padding: 8px 20px;
  }
}
